openapi: 3.2.0
info:
  title: Goldsky Pipeline Status API
  description: 'REST API for managing Goldsky pipelines. Create, deploy, monitor, and manage data pipelines programmatically.


    For a full introduction to Turbo Pipelines, see the [Turbo Pipelines documentation](https://docs.goldsky.com/turbo-pipelines/introduction).'
  version: 1.0.0
  contact:
    name: Goldsky Support
    email: support@goldsky.com
    url: https://docs.goldsky.com
  x-source-url: https://docs.goldsky.com/turbo-pipelines/api/openapi.json
  x-documentation-url: https://docs.goldsky.com/
  x-last-validated: '2026-08-10'
  x-provenance: first-party — retrieved from the provider's own documentation host
servers:
- url: https://api.goldsky.com/api/v1
  description: Goldsky API
security:
- BearerAuth: []
tags:
- name: Pipeline Status
  description: Query pipeline runtime status and state information.
paths:
  /pipelines/{name}/status:
    get:
      summary: Get pipeline status
      tags:
      - Pipeline Status
      description: Get the current runtime status of a pipeline.
      parameters:
      - schema:
          type: string
        in: path
        name: name
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  status:
                    anyOf:
                    - type: string
                      enum:
                      - RUNNING
                    - type: string
                      enum:
                      - PAUSED
                    - type: string
                      enum:
                      - RESTARTING
                    - type: string
                      enum:
                      - DEPLOYING
                    - type: string
                      enum:
                      - STOPPED
                    - type: string
                      enum:
                      - FAILED
                    - type: string
                      enum:
                      - UNKNOWN
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                      required:
                      - message
                required:
                - name
                - status
                - errors
  /pipelines/{name}/state:
    get:
      summary: Get pipeline state
      tags:
      - Pipeline Status
      description: Get the internal state information of a pipeline. This endpoint proxies to the upstream Streamling API.
      parameters:
      - schema:
          type: string
        in: path
        name: name
        required: true
      responses:
        '200':
          description: Default Response
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'API token generated from the [Goldsky Dashboard](https://app.goldsky.com/dashboard/settings/project). Pass as: Authorization: Bearer <token>'
